.para {
    font-size: 8em;
}
.mainDiv {
    background-color: #444654;
    height: 100vh;
}
.container {
    display: flex;
    bottom: 0;
    width: 100%;
    position: absolute;
    align-content: center;
    justify-content: center;
}
.inputForm {
    padding: 10px;
    width: 50%;
    bottom: 0;
    color: #adadad; 
    box-sizing: border-box;
    border-radius: 4px;
    background: #545666;
    border: 1px solid #646060;
    padding-left: 11px;
    outline: 1px solid #646060;
    margin-bottom: 30px;
}
.greetingsMessage {
    margin: auto;
    width: 69%;
    border: 2px solid white;
    margin-top: 133px;
    text-align: center;
    color: white;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formList {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submitButton {
    height: 40px;
    width: 107px;
    margin-left: 10px;
}
.messagesContainerDiv {
    margin: auto;
    width: 58%;
    /* border: 1px solid #2e2e2f;; */
    height: 710px;
    margin-top: 55px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;  
    padding-bottom: 25px; 
}
.messagesContainer {
    color: white;
    border: 1px solid #3e3e3e;
    margin: auto;
    width: 85%;
    margin-top: 8px;
    height: fit-content;
    padding: 12px;
    border-radius: 10px; 
}