flask-socketio
Flask
Flask-Cors
Flask-Jsonpify
Flask-RESTful
Flask-SQLAlchemy
pandas
Pillow
joblib
wikipedia
nltk
pyspellchecker
requests
scapy
scikit-image
scikit-learn
scipy
seaborn
SpeechRecognition
tensorflow
tflearn
